* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.bluediv {
	height: 250px;
	background-color: #0030ff;

}
h2 {
	font-size: 32px;
	color: #ffffff;
	margin-left: 30px;
	padding-top: 30px;
}
.container1, .container2, .container3 {
	display: inline-block;
	width: 400px;
	height: 400px;
}
