* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.bluediv {
	height: 250px;
	background-color: #0030ff;

}
h2 {
	font-size: 32px;
	color: #ffffff;
	margin-left: 30px;
	padding-top: 30px;
}
.container1, .container2, .container3 {
	display: inline-block;
	width: 400px;
	height: 400px;
}
.container1 {
	position: relative;
	margin-left: 20px;
	margin-right: 10px;
}
.container1 .paragraphes {
	position: absolute;
	left: 7px;
	bottom: 7px;
}
.container2 {
	position: relative;
	margin-left: 70px;
}
.container2 .paragraphes {
	position: absolute;
	left: 50px;
	bottom: 10px;
}
.container3 {
	position: relative;
	margin-left: 130px;
}
.container3 .paragraphes {
	position: absolute;
	left: 7px;
	bottom: 7px;
}
.paragraphes {
	width: 460px;
	height: 90px;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.52);
	font-size: 22px;
}
.whitediv .container1 , .whitediv .container3{
	bottom: 200px;
}
.whitediv .container2 {
	bottom: 100px;

}